<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <div class="add">

      <h3>Add a new Course:</h3>
      <form class="" action="/process" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name" value=""><br>
        description:<br>
        <textarea name="description" rows="8" cols="80"></textarea>
        <input type="submit" name="" value="Add">
      </form>

    </div>

    <div class="list">
      <table>
        <tr>
          <th>Course Name</th>
          <th>Description</th>
          <th>Date Added</th>
          <th>Actions</th>
        </tr>
        {% for courses in course %}
        <tr>
            <td>{{courses.name}}</td>
            <td>{{courses.description}}</td>
            <td>{{courses.created_at}}</td>
            <td><a href="/delete/{{courses.id}}">remove</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </body>
</html>
